@model IEnumerable<LittleAgenda.Entity.Telephone>
@{
	Layout = "";
}
@if (Model != null && Model.Count() > 0)
{
	<table class="table">
		<tr>
			<th></th>
			<th></th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.ActionLink(" ", "Delete", new { ContactId=item.ContactId, id = item.TelephoneId }, new { @class = "btn btn-large btn-danger fa fa-trash", title = "Delete" })
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TelephoneContent)
				</td>
			</tr>
		}
	</table>
}
else
{
	<p style="text-align:center;font-size:14px;">
		No Telephones found.
	</p>
}
