@model IEnumerable<LittleAgenda.Entity.Email>
@{
	Layout = "";
}
@if (Model != null && Model.Count() > 0)
{
	<table class="table-striped table-responsive table-condensed">
		<tr>
			<th width="150px"></th>
			<th></th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.ActionLink(" ", "Delete", new { ContactId = item.ContactId, id = item.EmailId }, new { @class = "btn btn-large btn-danger fa fa-trash", title = "Delete", style = "zoom:60%;" })
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EmailContent)
				</td>
			</tr>
		}
	</table>
}
else
{
<p style="text-align:center;font-size:14px;">
	No Emails found.
</p>
}
